<tr>
  <th onclick="app.context.controller.setSort('address')" class="s">Address{{sort==='address'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
  <th>Coins</th>
  <th onclick="app.context.controller.setSort('nocoins')" class="c s">No.Coins{{sort==='nocoins'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
  <th onclick="app.context.controller.setSort('volume')" class="c s">Volume{{sort==='volume'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
  <th onclick="app.context.controller.setSort('buyValue')" class="c s">Bought{{sort==='buyValue'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
  <th onclick="app.context.controller.setSort('sellValue')" class="c s">Sold{{sort==='sellValue'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
  <th onclick="app.context.controller.setSort('balance')" class="c s">Balance{{sort==='balance'?sortDir===1?' &#9660;':' &#9650;':''}}</th>
</tr>