<tr>
  <td><a href="https://bscscan.com/address/{{this.address}}" target="_blank">{{this.address}}</a></td>
  <td>{{this.coins.map(c => '<a href="https://dexscreener.com/bsc/' + c.pairAddress + '" target="_blank">' + c.symbol + '<sup>(' + (c.buyValue ? '<span class="buy">' + app.Num(c.buyValue) + '</span>':'') + (c.buyValue && c.sellValue?'/':'') + (c.sellValue ? '<span class="sell">' + app.Num(c.sellValue) + '</span>':'') + ' BNB)</sup></a>').join(', ')}}</td>
  <td class="c">{{this.nocoins}}</td>
  <td class="c">{{this.volume}}</td>
  <td class="c nw buy">{{app.Num(this.buyValue || 0)}} BNB</td>
  <td class="c nw sell">{{app.Num(this.sellValue || 0)}} BNB</td>
  <td class="c nw">{{app.Num(this.balance || 0)}} BNB</td>
</tr>