@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=JetBrains+Mono:wght@100;400&display=swap');
body {
  background: black;
  font-family: 'JetBrains Mono', monospace;
  font-size: .7em;
  color: #afaf2a;
  margin: 0;
}

a {
  color: #2aaf58;
  text-decoration: none;
}
a.selected {
  color: #afaf2a;
}
a:hover {
  border-bottom: 1px solid #2aaf58;
}
a sup {
  color: #afaf2a;
  padding-left: .2em;
  vertical-align: baseline;
}

template {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}
th, td {
  text-align: left;
  padding: .2em 1em;
}
tr {
  background: linear-gradient(180deg, transparent, transparent, transparent, rgb(255,255,255,0.1));
}
th {
  
  background: linear-gradient(180deg, rgb(255,255,255,0.1), transparent);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
th.c, td.c {
  text-align: center;
}
th.s {
  width: 1%;
  white-space: nowrap;
}
td.nw {
  white-space: nowrap;
}
header {
  display: flex;
  width: 100%;
}
header img {
  flex: 1;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 1em;
}
nav a {
  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}
h2.nometamask {
  margin: 2em;
  text-align: center;
}